/* .App {
  text-align: center;
} */



.Navbar{
  width: 95%;
  display:  flex;
  gap : 30px;
  margin: auto;
 
}

img{
  width: 110px;
  height: 55px;
  margin-top: 20px;
}

.title{
  font-size: 17px;
  color: rgb(107, 114, 128);
  margin: auto;
  padding-top: 30px;
 
}

.title:hover{
  color: rgb(62, 61, 62);
  text-underline-offset: 32px;
  text-decoration: underline;
  cursor: pointer;
  text-decoration: none;
}


