body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.links{    
  color: black;
  text-underline-offset: 35px;
  text-decoration: none;
  cursor: pointer;
}
 .links:focus{
  color: rgb(0, 0, 255);
  text-underline-offset: 32px;
  text-decoration: underline;
  cursor: pointer;
}
.links:hover{
  /* color: black; */
  text-underline-offset: 32px;
  text-decoration: underline;
  cursor: pointer;
}


/****************** Lectures css *******************/

.lect_main{
  margin:auto;
  width: 90%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.lectures{
  width: 95%;
  margin-left: 30px;
  margin-bottom: 50px;
}


.all_lect{
  height: 120px;
  padding: 20px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}


.detls{
  margin-right: auto;
}

h3{
  color: rgb(78, 78, 241);
  text-align: start;
}

.live{
  background-color: rgb(22,163,74);
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
}

.details{
  margin-left: auto;
  width: 150px;
  
}


#btn{
   background-color: rgb(34,197,94);
   width: 70px;
   min-height: 30px;
   border: transparent;
   cursor: pointer;
}


/* ************** Assignments********** */


.Ass_main{
  margin:auto;
  width: 90%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Assi{
  width: 95%;
  margin-left: 30px;
  margin-bottom: 50px;
}

#btn1{
  background-color: rgb(34,197,94);
   width: 85px;
   min-height: 30px;
   border: transparent;
   cursor: pointer; 
}

.fullstack{
  background-color: rgb(45, 131, 211);
  min-width: 40px;
  color: white;
  border: transparent;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}


/*********** Disussions****** */


.discus{
  width: 95%;
  height: 120px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* Electives */
.divcc{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
 
}

.Electives{
  width: 95%;
  margin-left: 30px;
  height: 50px;
  margin-bottom: 50px;
}

.Electives{
  width: 95%;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  margin: auto;
  height: 80px;
}


.btns{
  background-color: rgb(32, 32, 32);
  color: white;
  min-width: 80px;
  margin-top: 13px;
  border-radius: 5px;
  padding: 5px;
  min-height: 30px;
  margin-left: 3px;  
  cursor: pointer;
}

.btns:hover{
  background-color: rgb(66, 66, 66);
  color: white;
  min-width: 80px;
  margin-top: 13px;
  border-radius: 5px;
  padding: 5px;
  min-height: 30px;
  margin-left: 3px;  
  cursor: pointer;
}


/* catalogs */


.Catalogss{
  display: flex;
  gap: 0%;
  width: 95%;
  margin: auto;
  margin-top: 50px;
  cursor: pointer;
}


.ElectivesCatalogsss{
  width: 95%;  
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: start;
  padding: 14px;
  border-radius: 5px;
}


/* Tickets */
.Tickets{
  width: 95%;
  margin-left: 30px;
  height: 50px;
  margin-bottom: 50px;
}

.Tickets{
  width: 95%;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  margin: auto;
  height: 80px;
  margin-bottom: 50px;
}



/* create Ticket */

.createtickts{
  width: 95%;
  margin :auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.creatediv{
  text-align: left;
  padding-left: 40px;
  margin-top: 50px;
  padding-top: 50px;
  width: 98%;
  margin: auto;
}

.select1{
  width: 26%;
  height: 38px;
  border: 0.5px solid;
  border-radius: 5px;
  font-size: 16px;
}

.cteateinpt{
  width:96%;
  font-size: 16px;
  min-height: 35px;
  border: 0.5px solid;
  border-radius:5px;
}
textarea{
  border: transparent;
  font-size: 18px;
}
textarea:focus, textarea:active,textarea:visited{
  border: transparent;
}

.createaa{
  display: flex;
  gap: 20px;
  width: 96%;
  padding-left: 10px;  
  height: 60px;
  cursor: pointer;
  font-size: 16px; 
  background-color: #f8f7f7;
  margin-bottom: 20px;
  border-radius: 5px;
}

.createaa1:hover{  
  color: rgb(0, 225, 255);
  text-decoration: underline;
}
.createaa2:hover{  
  color: rgb(0, 225, 255);
  text-decoration: underline;
}
.createaa3:hover{  
  color: rgb(0, 225, 255);
  text-decoration: underline;
}


.btnsasa{
  text-align: start;
  margin-left: 30px;
}