body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/****************** Lectures css *******************/

.lect_main{
  margin:auto;
  width: 90%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.all_lect{
  height: 120px;
  padding: 20px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}


.detls{
  margin-right: auto;
}

h3{
  color: rgb(78, 78, 241);
  text-align: start;
}

.live{
  background-color: rgb(22,163,74);
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
}

.details{
  margin-left: auto;
  width: 150px;
  
}


#btn{
   background-color: rgb(34,197,94);
   width: 70px;
   min-height: 30px;
   border: transparent;
   cursor: pointer;
}


/* ************************ */